.home-page {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/images/background-pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    text-align: center;
    color: #FFFFFF;
}

.title-div {
    position: relative;
    top: 40vh;
    font-family: "Spartan League", sans-serif;
}


.title h1 {
    margin: 0;
    font-size: 4.5rem;
}

.home-list { 
    list-style-type: none;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    padding: 2% 20%;
    font-size: 24px;
    row-gap: 80%;
}

@media screen and (max-width: 600px) {
    .home-list {
        grid-template-columns: 1fr;
        row-gap: 50%;
    }
    .title-div {
        top: 30vh;
    }
    .title h1 {
        font-size: 3.5rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    .language-btn {
        grid-column-start: auto;
    }
}

.home-list a {
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5%;
    letter-spacing: 1px;
}

.home-list a:hover {
    background-color: #FFFFFF;
    color: #000000; 
}

.language-btn {
    color: #FFFFFF;
    background-color: #00000000;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 1%;
    letter-spacing: 1px;
}

@media screen and (min-width: 750px) {
    .language-btn {
        grid-column-start: 2;
    }
}

@media screen and (max-width: 375px) {
    .title-div {
        top: 15vh;
    }
}

.language-btn:hover {
    background-color: #FFFFFF;
    color: #000000;
}