.about-image {
    width: 80%;
}

.about-text-box {
    padding: 0% 10% 0% 5%;
}

@media screen and (min-height: 900px) {
    .about-text-box {
        padding-bottom: 5%;
    }
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1%;
    row-gap: 4%;
    text-align: center;
    padding-bottom: 20%;
}

@media screen and (min-height: 1350px) {
    .skill-list {
        padding-bottom: 30%
    }
}

.skill-tag {
    display: grid;
    padding: 0 1%;
    color: #000;
    background: #00000000;
    border: solid 1px #00000000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    align-items: center;
}

.skill-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.nav-btn-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2%;
}



.about-nav-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #000000;
    background-color: #00000000;
    margin: 0 10%;
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: solid 1px #00000000;
    border-radius: 50px;
    transition : 300ms;
    transform: translateY(0);
    display: grid;
    align-items: center;
}


.about-nav-btn:hover{
    transition : 600ms;
    padding: 10px 22px;
    background-color: #00000000;
    color: #0066cc;
    border: solid 1px #0066cc;
}

.about-header {
    font-size: 1.75rem;
    font-family: 'League Spartan', sans-serif;
}

.about-subtitle {
    font-size: 1.4rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.about-image-box {
    text-align: center;
}

.about-image-box p {
    text-align: left;
}

.about-image-box .skill-text {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .image-section {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    .skill-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .skill-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .page-title h1 {
        font-size: 3rem;
    }
    .about-header h2 {
        font-size: 2rem;
    }
    .about-subtitle h5 {
        font-size: 1rem;
    }
    .about-image-box p {
        font-size: 12px;

    }
    .about-nav-btn {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
    }
    .nav-btn-div {
        grid-template-columns: 1fr;
        row-gap: 5%;
        padding: 2%
    }
}