.about-image {
    width: 80%;
}

.about-text-box {
    padding: 0% 10% 0% 5%;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.skill-tag {
    display: grid;
    padding: 0 2%;
    margin: 1%;
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #91b9e0 0%, #ed91f2 100%);
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 15px;
    align-items: center;
}

.nav-btn-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2%;
}



.about-nav-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #000000;
    background-color: #00000000;
    margin: 0 10%;
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: solid 1px #00000000;
    border-radius: 50px;
    transition : 300ms;
    transform: translateY(0);
    display: grid;
    align-items: center;
}


.about-nav-btn:hover{
    transition : 600ms;
    padding: 10px 22px;
    background-color: #00000000;
    color: #0066cc;
    border: solid 1px #0066cc;
}

.about-header {
    font-size: 1.75rem;
    font-family: 'League Spartan', sans-serif;
}

.about-subtitle {
    font-size: 1.4rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.about-image-box {
    text-align: center;
}

.about-image-box p {
    text-align: left;
}

.about-image-box .skill-text {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .image-section {
        display: none;
    }
}

