footer {
    position: relative;
    padding-bottom: 2%;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFF;
    background-color: #2D2727;
}

/* @media screen and (min-width: 1800px) {
    footer {
        margin-top: 10%;
    }
}

@media screen and (min-width: 2000px) {
    footer {
        margin-top: 5%;
    }
} */

.footer-box {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-socials {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20%;
}

.footer-name {
    padding: 0 5%;
}

.copyright {
    text-align: center;
}

.copyright p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.footer-desc p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.footer-name h5 {
    font-family: "Spartan League", sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 750px) {
    .footer-box {
        grid-template-columns: 1fr;
    }
    .footer-socials {
        text-align: center;
        justify-items: center;
    }
}

.icon {
    font-size: 2rem;
    align-self: center;
    color: #FFF;
    padding-bottom: 5%;
}

.icon-link {
    text-decoration: none;
    place-self: center;
}

.icon-block {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
}

.banner-link {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .banner-link {
        display: none;
    }
    .footer-socials {
        display: inline-block;
    }
}