.project-body-img {
    text-align: center;
}

.project-body-img img {
    height: 60vh;
}

.project-card {
    min-width: -webkit-fill-available;
    height: 25vh;
}

.project-card img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px 1px;
}

.projects-box-js {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1%;
    row-gap: 1%;
    margin: 2% 15% 0% 15%;
}

.projects-box-python {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1%;
    row-gap: 1%;
    margin: 2% 15% 0% 15%;
}

@media screen and (max-width: 1200px) {
    .projects-box-python {
        margin: 2% 10% 0% 10%;
    }
}

@media screen and (max-width: 750px) {
    .projects-box-python {
        grid-template-columns: 1fr;
        padding: 1% 10% 2% 10%;
        row-gap: 2%;
    }
    .projects-box-js {
        grid-template-columns: 1fr;
        padding: 1% 10% 2% 10%;
    }
}

.projects-nav-btn-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 10%;
}

.project-card:hover {
    filter: brightness(80%);
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px 1px;
}

.modal-button-box {
    display: grid;
    padding-top: 2%;
}

.live {
    grid-template-columns: repeat(3, 1fr);
}

.not-live {
    grid-template-columns: repeat(2, 1fr);
}

.modal-button-box a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}